## Deliverable 3. Create a Travel Itinerary Map.

In [27]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
#import numpy as np
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [28]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,3,Rikitea,PF,78.75,-23.1203,-134.9692,Pension Maro'i
1,7,Inhambane,MZ,77.11,-23.8650,35.3833,Oceano
2,8,New Norfolk,AU,69.80,-42.7826,147.0587,The Shingles Riverside Cottages
3,9,Port Blair,IN,82.24,11.6667,92.7500,Welcomhotel Bay Island Port Blair
4,15,Hobart,AU,69.80,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
5,16,Lagoa,PT,61.66,39.0500,-27.9833,Casa Das Faias
6,18,Georgetown,MY,82.40,5.4112,100.3354,Cititel Penang
7,19,Ahipara,NZ,68.99,-35.1667,173.1667,Ahipara Holiday Park
8,20,Butaritari,KI,80.65,3.0707,172.7902,Isles Sunset Lodge
9,23,Kapaa,US,78.80,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach

In [29]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [30]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [70]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Rikitea']
vacation_end= vacation_df.loc[vacation_df['City'] == 'Rikitea']
vacation_stop1 = vacation_df.loc[vacation_df['City']== 'Lagoa']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Georgetown']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Port Blair']

In [71]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0])
end = (vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0])
stop1 = (vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0])
stop2 = (vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0])
stop3 = (vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0])

In [76]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [82]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,3,Rikitea,PF,78.75,-23.1203,-134.9692,Pension Maro'i
1,16,Lagoa,PT,61.66,39.0500,-27.9833,Casa Das Faias
2,18,Georgetown,MY,82.40,5.4112,100.3354,Cititel Penang
3,9,Port Blair,IN,82.24,11.6667,92.7500,Welcomhotel Bay Island Port Blair

In [83]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [84]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))